/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

#icon-nav {
  height: 20px;
  width: 20px;
}
html,
body {
  background-color: #cfdbd5;
}

#navBar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar {
  background-image: linear-gradient(to right, #e8eddf, #e8eddf);
  padding: 0 !important;
}

.navbar-brand img {
  height: 70px;
  width: 70px;
  margin-left: 25px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #333533 !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #333533;
}

.navbar-toggler {
  outline: none !important;
}

#navbarTitle {
  margin-top: 1%;
  font-family: "Bebas Neue", cursive;
  color: #242423;
}

.category:hover {
  background: #2f365f;
  color: #fff;
}

.categories-header {
  padding-top: 5px;
  padding-bottom: 25px;
}

.categories-menu {
  min-width: 250px;
  max-width: 250px;
  background-color: #f3f3f3;
  transition: all 0.3s;
}

.categories-header {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.course-card {
  background-color: #f4ebe6;
  margin: 7px;
  padding: 15px;
  border-radius: 7px;
}

.course-link,
.course-link:hover {
  color: black;
}

.course-body {
  background-color: #f7f1ed;
  padding-top: 5px;
}

.course-tags {
  margin-bottom: 10px;
}

.course-footer {
  margin: 5px 5px 0px;
}

.courses-header {
  margin-top: 10px;
}
